#indexbody{
    background-color: azure;
}

.recipe-list {
    color: cadetblue;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

li {
    margin: 10px 0;
}

.titles{
    color: cadetblue;
}

#header{
    color: cadetblue;
    margin-left: 15px;
}
body{
    background-color: azure;
    font-family: Verdana;
}

.recipetext{
    color: cadetblue;
}

#indexbody{
    font-family: 'Courier New', Courier, monospace;

}
