#indexbody{
    background-color: azure;
}

.recipe-list {
    color: cadetblue;
}

.titles{
    color: cadetblue;
}

#header{
    color: cadetblue;
}
body{
    background-color: azure;
}

.recipetext{
    color: cadetblue;
}