#indexbody{
    background-color: azure;
}

.recipe-list {
    color: cadetblue;
}

.titles{
    color: cadetblue;
}

#header{
    color: cadetblue;
}
body{
    background-color: azure;
    font-family: Verdana;
}

.recipetext{
    color: cadetblue;
}

#indexbody{
    font-family: 'Courier New', Courier, monospace;

}
