#bodystyle{
    background-color: azure;
    font-family: monospace;
}

.recipe-list {
    color: cadetblue;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    font-size: 1.2em;
}

li {
    margin: 10px 0;
}

.titles{
    color: cadetblue;
    font-size: 2.8em;
}

#header{
    color: cadetblue;
    margin-left: 15px;
    font-size: 2.8em;
}

.recipetext{
    color: cadetblue;
}

#indexbody{
    font-family: 'Courier New', Courier, monospace;

}
